body {
  background-color: lightgray;
}
#root {
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
}
h1 {
  text-align: center;
}
.prefArea {
  margin: 20px 0;
}
.prefCheckbox {
  display: inline-block;
}
.prefCheckbox label {
  display: inline-block;
  width: 90px;
  font-size: 17px;
}
.chartArea {
  width: 700px;
}
